<main class="recipe">
	<header class="recipe__header">
		<h1 class="recipe__header__title">Classic Cheesecake Recipe</h1>

		<p class="recipe__header__description">
			Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, no one can deny its simple decadence. For the best results, bake in a water bath.
		</p>

		<img class="recipe__header__image" src="./../assets/photo1.png" alt="A photo of a cheesecake">
	</header>

	<section class="recipe__ingredients">
		<h2>Ingredients</h2>

		<div class="recipe__ingredient">
			<p class="recipe__ingredient__title">Graham Cracker Crust</p>

			<div class="recipe__ingredient__checklist">
				<mat-checkbox>1 and 1/2 cups (150g) <strong>graham cracker crumbs</strong> (about 10 full sheet graham crackers)</mat-checkbox>
				<mat-checkbox>5 Tablespoons (70g) <strong>unsalted butter</strong>, melted</mat-checkbox>
				<mat-checkbox>1/4 cup (50g) <strong>granulated sugar</strong></mat-checkbox>
			</div>
		</div>

		<div class="recipe__ingredient">
			<p class="recipe__ingredient__title">Cheesecake</p>
		</div>
	</section>

	<!-- <section class="recipe__instructions">
		<h3 class="recipe__instructions__title">Instructions</h3>
	</section> -->
</main>