h1,
h2,
h3 {
	font-family: var(--ff-accent);
	color: var(--clr-primary-800);
}

.recipe {
	padding: 2rem .75rem;
	max-width: 60.5625rem;

	&__content {
		display: grid;
	}

	&__header {
		&__title {
			font-size: 1.5rem;
			color: var(--clr-primary-900);
		}

		&__description {
            font-size: .75rem;
			font-weight: var(--font-medium);
			font-style: italic;
			color: var(--clr-neutral-300);
			margin-top: .75rem;
			display: inline-flex;
			align-items: baseline;
			gap: .75rem;
		}

		&__image {
			margin-top: 1.5rem;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1.5rem;

		&__group {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(3, 1fr);
		}

		&__time, &__yields {
			display: flex;
			align-items: center;
			gap: .3125rem;

			&__content {
				font-size: .5rem;
				font-weight: var(--font-bold);
				text-transform: uppercase;
				color: var(--clr-neutral-200);
				display: inline-flex;
				flex-direction: column;
				line-height: 11px;

				&::after {
					content: attr(data-content);
					text-transform: none;
					font-size: .625rem;
					font-weight: var(--font-medium);
					color: var(--clr-primary-800);
				}
			}
		}

		&__yields {
			&__content {
				&::after {
					color: var(--clr-neutral-400);
				}
			}
		}

		&__icon {
			font-size: 1.0625rem;

			&.orange {
				color: var(--clr-neutral-400);
			}
		}
	}

	&__ingredients {
		margin-top: 1.875rem;

		& > h2 {
			font-size: 1.125rem;
		}
	}

	&__ingredient {
		&__title {
			font-family: var(--ff-accent);
			font-style: italic;
			font-size: 1rem;
			color: var(--clr-primary-800);
		}

		&:first-of-type > &__title {
			margin-top: .8125rem;
		}

		&:last-of-type {
			margin-top: 2.4375rem;
		}
		
		&__checklist {
			margin-top: 1.5rem;

			& > mat-checkbox {
				display: block;
				color: var(--clr-primary-800);
				font-weight: var(--font-regular);
				font-size: .875rem;
				line-height: 1.5625rem;
			}

			.toppings {
				font-weight: var(--font-medium);
				font-style: italic;
			}
		}
	}

	&__instructions {
		margin-top: 1.875rem;

		&__title {
			font-size: 1.5rem;
			font-weight: var(--font-bold);
		}
	}

	&__instruction {
		display: flex;
		gap: .9375rem;
		margin-top: 1.875rem;

		&__number {
			width: 2.25rem;
			height: 2.25rem;
			border-radius: .375rem;
			background-color: var(--clr-neutral-400);

			color: var(--clr-neutral-100);
			font-size: 1.5rem;
			// font-family: var(--ff-accent);
			font-weight: var(--font-bold);
			text-align: center;
		}

		&__description {
			line-height: 150%;
			flex: 1;
		}
	}

	&__source {
		color: var(--clr-neutral-200);
		font-size: .75rem;
		margin-top: 1.75rem;

		a {
			color: var(--clr-neutral-200);
			text-decoration: none;
		}
	}
}

@media (width >= 969px) {
	.recipe {
		padding: 3.3125rem .75rem;

		&__content {
			grid-template-rows: none;
			grid-template-columns: 1fr 1fr;

			&__col {
				order: -1;
			}
		}

		&__header {
			&__title {
				font-size: 48px;
			}
	
			&__description {
				font-size: .875rem;
				line-height: 1.0625rem;
			}

			&__image {
				margin-top: 2.6875rem;
			}
		}

		&__info {
			gap: 2.6875rem;
			margin-top: 6.5625rem;
			margin-right: 3.1875rem;


			&__group {
				grid-template-columns: none;
				grid-template-rows: repeat(3, 1fr);
				gap: 2.6875rem;
				justify-content: right;
			}

			&__yields {
				justify-content: right;
			}

			&__time, &__yields {
				&__content {
					font-size: .625rem;
					line-height: 17px;
	
					&::after {
						content: attr(data-content);
						font-size: .875rem;
					}
				}
			}

			&__icon {
				font-size: 2.125rem;
			}
		}

		&__ingredients {
			margin-top: 3rem;

			& > h2 {
				font-size: 2rem;
			}
		}

		&__ingredient {
			&__title {
				font-size: 1.125rem;
			}

			&__checklist {
				& > mat-checkbox {
					font-size: 1rem;
				}
			}
		}

		&__source {
			font-size: 1rem;
			margin-top: 3.5625rem;
		}
	}
}